.whatsapp-button {
    background-color: #25D366;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.whatsapp-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
.pre-wrap{
    white-space: pre-wrap;
}

.hidden{
    display: none;
}
.p-top{
    padding-top: 50px;
}

ul{
    list-style-type: none;
    padding: 0;
    margin-top: 80px;
}

li{
    margin-top: 15px;
}

ul > li > div > a{
    width: 56%;
}

img.coupon-image-list{
    width: 100%;
}
.flex{
    display: flex;
}

#gif-container > a, #second-gif-container{
    height: 80vh;
}

.coupon-image{
    width: 88%;
    margin: 20px !important;
}

.column{
    flex-direction: column;
}
.m-auto{
    margin: auto;
}
img{
    width: 100%;
    height: auto;
}

h2,h1,p{
    text-align: center;
}
p{
    margin: 50px;
}

.promo{
    font-weight: bold;
    margin: 20px;
}

.redeemed {
    /* position: relative; */
    opacity: 0.5;
    /* pointer-events: none;  */
}
.redeemed::after {
    content: "Cupón Activado";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    font-size: 1.5em;
    border-radius: 5px;
}