.whatsapp-button {
    background-color: #25D366;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.whatsapp-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.flex{
    display: flex;
}
.column{
    flex-direction: column;
}
.m-auto{
    margin: auto;
}
img{
    width: 60%;
    height: auto;
}

h2,h1,p{
    text-align: center;
}