<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Cupones Gargamel Desbloqueados</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <h1>Cupones Gargamel Desbloqueados</h1>
    <ul>
        {% for coupon in coupons %}
            <li>
                <div>
                <a class="flex" href="{{ url_for('coupon_detail', code=coupon.code) }}">
                   <img src="{{ coupon['img'] }}" alt="Imagen del Cupón" class="coupon-image-list m-auto">
                </a>
                <!-- Botón para compartir por WhatsApp -->
                <!-- <button id="whatsapp-button" class="whatsapp-button" onclick="shareOnWhatsApp()" {{ 'disabled' if coupon.redeemed else '' }}>
                    Compartir por WhatsApp
                </button> -->
                </div>
            </li>
        {% endfor %}
    </ul>
    <p class="m-auto promo">Entra a diario para desbloquear nuevos cupones</p>
    <script src="static/js/script.js">    </script>
</body>
</html>