<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cupones Gargamel</title>
    <link rel="stylesheet" href="static/css/style.css">
    <style>
        .hidden {
            display: none !important;
        }
    </style>
    
</head>
<body>
    <h1>¡Desbloquea tu cupón de hoy!</h1>
    
    <!-- Contenedor para el GIF inicial -->
    <div class="flex" id="gif-container">
        <a class="flex" href="#" id="unlock-link">
            <img class="m-auto" src="static/img/gift.gif" alt="Regalo" id="gif">
        </a>
    </div>

    <!-- Contenedor para el segundo GIF -->
    <div id="second-gif-container" class="hidden flex">
        <img src="static/img/opened-gift.gif" alt="Regalo Abierto" id="second-gif" class="m-auto">
    </div>

    <!-- Contenedor para el cupón desbloqueado -->
    <div id="unlocked-coupon-container" class="hidden flex column">
        <h2 class="m-auto">¡Cupón Desbloqueado!</h2>
        <img  src="{{ coupon.img }}" alt="Imagen del Cupón" class="coupon-image m-auto" id="coupon-image">
        <p class="m-auto hidden">Código: <span id="coupon-code"></span></p>
        <p class="m-auto"><span id="coupon-description"></span></p>
        <p class="m-auto">Entra a diario para desbloquear nuevos cupones</p>
        <a class="m-auto" href="/coupons">Ver todos los cupones desbloqueados</a>
    </div>

    <script>
        // Manejar el clic en el GIF
// Obtener referencias a los elementos del DOM
const unlockLink = document.getElementById('unlock-link');
const gifContainer = document.getElementById('gif-container');
const secondGifContainer = document.getElementById('second-gif-container');
const unlockedCouponContainer = document.getElementById('unlocked-coupon-container');
const couponCode = document.getElementById('coupon-code');
const couponDescription = document.getElementById('coupon-description');


unlockLink.addEventListener('click', async (event) => {
    event.preventDefault(); // Evitar que el enlace recargue la página

    // Ocultar el GIF inicial y mostrar el segundo GIF
    gifContainer.classList.add('hidden');
    secondGifContainer.classList.remove('hidden');

    // Esperar 2 segundos
    await new Promise(resolve => setTimeout(resolve, 1700));

    // Obtener el cupón del día
    const today = new Date().toISOString().split('T')[0]; // Formato YYYY-MM-DD
    const response = await fetch(`/unlock/${today}`);
    if (response.ok) {
        const coupon = await response.json();

        // Mostrar el cupón desbloqueado
        couponCode.textContent = coupon.code;
        couponDescription.textContent = coupon.description;
        secondGifContainer.classList.add('hidden');
        unlockedCouponContainer.classList.remove('hidden');
    } else {
        alert("Error al desbloquear el cupón.");
    }

    
});
    </script>
</body>
</html>