<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Cupones Gargamel Desbloqueados</title>
    <link rel="stylesheet" href="static/css/style.css">
    <script src="static/js/script.js"></script>
</head>
<body>
    <div class="flex column">
    <h1 class="m-auto p-top">No hay cupón disponible... </h1>
    <p class="m-auto p-top">No hay un nuevo cupon disponible hoy.</p>
    
    <p class="m-auto promo">Tal vez mañana si haya!</p>
    <a class="m-auto" href="{{ url_for('coupon_list') }}">Volver a la lista de cupones</a>
    </div>
    <script src="static/js/script.js">    </script>
</body>
</html>